*{
    margin: 0;
}
body{
    font-size: 18px;
    font-family: Arial, sans-serif;
    background: #869b89;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 50px 20% 50px 20%;
    background: #1d0002;
    color: #b1c5c9;
}
.nav ul{
    display: flex;
    list-style: 0;
}
.nav ul li{
    margin:0 20px 0 0;
}
.logo{
    font-size: 32px;
}
.promo{
    padding: 150px 0 0 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(#1d0002,#423c63);
    color: #b1c5c9;
}
.products{
    padding:10px 20%;
}
.products_header{
    text-align: center;
}
.products_body{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    height: 350px;
    border: 1px solid #423c63;
}
.card_header{
    height: 200px;
}
.card img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.card_body{
    margin:20px 0;
    text-align: center;
}
.button{
    display: inline-block;
    padding:8px 20px;
    background : #1d0002;
}
.button a{
    text-decoration: none;
    color: white;
}
.card_footer{
    text-align: center;
}
.card:hover{
    box-shadow: 0 0 5px 8px #696969
}
#footer{
    display: flex;
    justify-content: space-around;
    margin: 80px 0 0 0;
    background: #190D1D;
    color: white;
    font-size: 0.8rem;
    height: 100px;
    align-items: center;
    text-decoration: none;
}
#footer a{
    color: white;
    text-decoration: none;
}
